@import "/sass/utils/variables";

/*sección clientes/costumers*/
.costumer-section
{
    display: flex;
    justify-content: space-between;
}

.client__container
{
    border: 1px var(--grayishblue) solid;
    border-radius: 4px;
    width: 170px;
    height: 81px;
    padding: 14px 32px;

    &__logo
    {
        height: 52px;
        width: 106px;
        fill: var(--grayishblue);
    }
}